.header {
    background-color: #282c34;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    padding: 0 8px;

    .no-of-seats {
        margin: 0 16px;
        select {
            height: 40px;
            min-width: 100px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }
  }
  